html {
  overflow-y: scroll;
}

#header{
	width: 100%;
	background: #323232;
	color: #0974F6;
	padding-left: 1rem;
}
#settings{
	display: none;
	background: #f0f0f0;
	border-radius: 4px;
	margin-bottom: 1rem;
	padding: 1rem;
}
#downloadBtn{
	width: 100%;
	font-size: 1.5rem;
	height: 4rem;
}
#modelSelection{
	margin-bottom: 1rem;
}
.modelOption{
	width: 50%;
	float: left;
	background: #323232;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	border-bottom: 3px solid #323232;
	border-top: 3px solid #323232;
	cursor: pointer;
}
.modelOption:hover,
.modelOption.selected{
	background: #1EAEDB;
	border-bottom: 3px solid #A40001;
	border-top: 3px solid #1EAEDB;
}
.modelOption:hover{
	background: #1EAEDB;
}
.selected:hover{
	background: #2293B6;
	border-top: 3px solid #2293B6;
}
.modelOption:hover a,
.modelOption.selected a{
	color: #fff;
}


textarea{
	width: 100%;
	height: 50rem;
	position: relative;
}

.red{
	color: #A40001;
}
.left{
	float: left;
}
.right{
	float: right;
}